<h2 class="title-m font-bold">Sección 1: Layout Estructural con Cambio de Orden</h2>
<div class="box-one align-end content-center height-md bg-sale p-8">
    <button class="btn btn-primary">btn btn-primary</button>
</div>
<div class="boxs-container-one lg:flex">
    <div class="col-lg-4 align-center height-xs bg-primary-60 p-8 ">
       <p class="text-l">03.</p>
    </div>
    <div class="col-lg-8 height-xs bg-info p-8"></div>
</div>
<div class="lg:flex">
    <div class="col-lg-9 height-xs bg-error p-8"></div>
    <div class="col-lg-3 height-xs bg-success p-8"></div>
</div>
